.background--custom--top {
  background-color: #151a1e;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}
#rectangle-top {
  background: rgb(57,190,208);
  background: linear-gradient(86deg, rgba(57,190,208,1) 0%, rgba(103,247,167,1) 41%, rgba(226,199,50,1) 73%, rgba(232,234,55,1) 100%);
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px ,rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 1px;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 55%;
  transform: rotate(-44deg) scale(3) translateY(-54%) translateX(30%);
}

#rectangle1-bottom {
  position: absolute;
  bottom: 0;
  transform: rotate(-135deg) scale(1.2) translateX(32%) translateY(34%);
  width: 500px;
  height: 750px;
  filter: brightness(0.8);
  background: rgb(226,199,50);
  background: linear-gradient(160deg, rgba(226,199,50,1) 0%, rgba(103,247,167,1) 50%, rgba(57,190,208,1) 82%);   
  box-shadow: rgba(57, 190, 208, 0.4) 5px 5px, rgba(57, 190, 208, 0.3) 10px 10px, rgba(57, 190, 208, 0.2) 15px 15px, rgba(57, 190, 208, 0.1) 20px 20px, rgba(57, 190, 208, 0.05) 25px 25px, rgba(103,247,167, 0.4) -5px -5px, rgba(103,247,167, 0.3) -10px -10px, rgba(103,247,167, 0.2) -15px -15px, rgba(103,247,167, 0.1) -20px -20px, rgba(103,247,167, 0.05) -25px -25px;
  border-radius: 1px; 
}
#rectangle2-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(-135deg) scale(1.6) translateX(-35%) translateY(3%);
  width: 800px;
  height: 750px;
  filter: brightness(0.8);
  background: rgb(105,9,200);
  background: linear-gradient(133deg, rgba(105,9,200,1) 0%, rgba(38,193,160,1) 45%, rgba(57,116,208,1) 82%); 
  box-shadow: rgba(57, 116, 208, 0.4) 5px 5px, rgba(57, 116, 208, 0.3) 10px 10px, rgba(57, 116, 208, 0.2) 15px 15px, rgba(57, 116, 208, 0.1) 20px 20px, rgba(57, 116, 208, 0.05) 25px 25px, rgba(57, 116, 208, 0.4) -5px -5px, rgba(57, 116, 208, 0.3) -10px -10px, rgba(57, 116, 208, 0.2) -15px -15px, rgba(57, 116, 208, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) -25px -25px;
  border-radius: 1px; 
}
#rectangle3-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-135deg) scale(1) translateX(32%) translateY(-41%);
  width: 1150px;
  height: 950px;
  background: rgb(210,136,29);
  background: linear-gradient(62deg, rgba(210,136,29,1) 17%, rgba(205,82,33,1) 37%, rgba(198,82,59,1) 54%, rgba(111,128,64,1) 70%, hsl(187, 67%, 45%) 87%);  
  box-shadow: rgba(205, 82, 33, 0.4) 5px 5px, rgba(205, 82, 33, 0.3) 10px 10px, rgba(205, 82, 33, 0.2) 15px 15px, rgba(205, 82, 33, 0.1) 20px 20px, rgba(205, 82, 33, 0.05) 25px 25px, rgba(205, 82, 33, 0.4) -5px -5px, rgba(205, 82, 33, 0.3) -10px -10px, rgba(205, 82, 33, 0.2) -15px -15px, rgba(205,82,33, 0.1) -20px -20px, rgba(205,82,33, 0.05) -25px -25px;
  border-radius: 1px; 
}
#rectangle4-bottom {
  position: absolute;
  bottom: 0;
  transform: rotate(-135deg) scale(1.2) translateX(-25%) translateY(34%);
  width: 550px;
  height: 800px;
  filter: brightness(0.8);
  background: rgb(85,233,222);
  background: linear-gradient(203deg, rgba(85,233,222,1) 0%, rgba(178,25,254,1) 50%, rgba(252,69,189,1) 82%); 
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px, rgba(240, 46, 170, 0.4) -5px -5px, rgba(240, 46, 170, 0.3) -10px -10px, rgba(240, 46, 170, 0.2) -15px -15px, rgba(240, 46, 170, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) -25px -25px;
  border-radius: 1px; 
}
/*----------------------------------------------404 NOT FOUND------------------------------------------------------*/

.error-contanier {
  height: 100vh;
  width: auto;
  background-color: #0f1115;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  color: #1a202c;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}
.message-img {
  width: 130px;
  height: 130px;
}
#rectangle1-error {
  position: absolute;
  bottom: 0;
  transform: rotate(-135deg) scale(0.6) translateX(12%) translateY(-24%);
  width: 500px;
  height: 750px;
  filter: brightness(0.8);
  background: rgb(226,199,50);
  background: linear-gradient(110deg, rgba(226,199,50,1) 0%, rgba(103,247,167,1) 50%, rgba(57,190,208,1) 82%);   
  box-shadow: rgba(57, 190, 208, 0.4) 5px 5px, rgba(57, 190, 208, 0.3) 10px 10px, rgba(57, 190, 208, 0.2) 15px 15px, rgba(57, 190, 208, 0.1) 20px 20px, rgba(57, 190, 208, 0.05) 25px 25px, rgba(103,247,167, 0.4) -5px -5px, rgba(103,247,167, 0.3) -10px -10px, rgba(103,247,167, 0.2) -15px -15px, rgba(103,247,167, 0.1) -20px -20px, rgba(103,247,167, 0.05) -25px -25px;
  border-radius: 1px;
}
#rectangle2-error {
  position: absolute;
  bottom: 0;
  transform: rotate(-135deg) scale(0.6) translateX(-35%) translateY(0%);
  width: 550px;
  height: 800px;
  filter: brightness(0.8);
  background: rgb(85,233,222);
  background: linear-gradient(113deg, rgba(85,233,222,1) 0%, rgba(178,25,254,1) 50%, rgba(252,69,189,1) 82%); 
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px, rgba(240, 46, 170, 0.4) -5px -5px, rgba(240, 46, 170, 0.3) -10px -10px, rgba(240, 46, 170, 0.2) -15px -15px, rgba(240, 46, 170, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) -25px -25px;
  border-radius: 1px; 
} 